<?php
	$menu = array(
		"Monday" 	=> array("麻婆豆腐", "麻婆豆腐麻婆豆腐", "豆腐", "dddd"),
		"Tuesday" 	=> array("麻婆豆腐", "麻婆豆腐麻婆豆腐", "豆腐"),
		"Wednesday" => array("麻婆豆腐", "麻婆豆腐麻婆豆腐", "豆腐"),
		"Thursday" 	=> array("麻婆豆腐", "麻婆豆腐麻婆豆腐", "豆腐"),
		"Friday" 	=> array("麻婆豆腐", "麻婆豆腐麻婆豆腐", "豆腐"),
		"Saturday" 	=> array("麻婆豆腐", "麻婆豆腐麻婆豆腐", "豆腐"),
		"Sunday" 	=> array("麻婆豆腐", "麻婆豆腐麻婆豆腐", "豆腐"),
	);

?>